@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My games <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Game 1</a></li>
                <li><a href="#">Game 2</a></li>
                <li><a href="#">Game 3</a></li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("View all", "Mine", "Browse")</li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New game <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Join", "", "Browse")</li>
                <li>@Html.ActionLink("Host", "", "Host")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Help", "Help", "Home")</li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage your account" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Help", "Help", "Home")</li>
    </ul>

    <p class="navbar-text navbar-right">You must be logged in to play</p>
}
